:root {
  --white: #fff;
  --blue: #fbb;
  --alert-transition: 200ms all ease-in-out;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap');

.form-container {
  padding: 1.2rem;
  font-family: monospace;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 94vh;
  overflow: scroll;
  background-color: rgb(233, 233, 233);
}
.add-icon-container {
  /* border-radius: 1.2rem; */
  padding: 10px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(0, 134, 0);
  color: white;
}

.add-icon-container .add-icon-title {
  margin-left: 10px;
  font-size: 1.3rem;
  align-self: center;
}

.add-icon-container:hover {
  background-color: rgb(0, 107, 168);
}
h1{
  text-align: center;
}
.dialog-box-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.301);
  /* padding-bottom: 20px; */
  /* padding-top: 20px; */
}
.dialog-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background:rgb(122, 140, 219);
  border-radius: 1rem;
  border: 0.2rem solid black;
  padding: 2rem;
}

.input-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  margin-bottom: 10px;
  border-radius: 1rem;
}
.input-box > label {
  border-bottom: 2px solid black;
  font-size: 1.3rem;
  font-weight: bold;
}

.input-box > input, textarea {
  width: 100%;
  font-family: monospace;
  font-size: 1.1rem;
  padding-top: 1rem;
  border-width: 0px;
  border-bottom: 2px orange solid;
}
.input-box > input:focus, textarea:focus {
  outline: none;
  border-bottom: 2px blue solid;
}
.dialog-button{
  font-size: 1.5rem;
  border-radius: 1rem;
  background: rgb(214, 214, 219);
  border: 2px solid orange;
  font-family: monospace;
  font-weight: bold;
  padding: 0.7rem;
  padding-bottom: 5px;
  width: 110px;
}

.element{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  border: 2px black solid;
  border-radius: 1rem;
  border-top-right-radius: 0;
  padding: 1rem;
  margin: 1rem;
}

.element .experience-title{
  font-size: 1.5rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.6rem;
}

.element .experience-fromto{
  font-weight: bold;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.element .experience-description{
  padding-top: 0.6rem;
  font-size: 1rem;
}

.edit-icon{
  position: absolute;
  right: 0px;
  top:0px;
  width: fit-content;
  padding: 5px;
  border-radius: 0px 0px 0px 10px;
  background-color: rgb(0, 55, 117);
  color:white;
}

.edit-icon:hover{
  background-color: orangered;
}

.dialog-button-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.dialog-button-container *{
  margin: 1rem;
}
.skill{
    flex-direction: row;
    padding-right: 35px;
    justify-content: space-between;
  align-items: center;

  }
.skill .skill-title{
  font-size: 1rem;
  padding-right: 1rem;
}
.skill .skill-progress{
  border-radius: 1rem;
  border: 2px solid black;
  width: 100px;
  height: 11px;
}


.personal-details-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personal-details-container input{
  margin: 0.5rem;
  font-size: 1.1rem;
  font-family: monospace;
  border: 0px solid black;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.personal-details-container input:focus{
  outline: none;
  border-bottom: 1px solid orange;
}

.experience-container, .education-container, .skill-container, .achievement-container{
  background-color: rgb(255, 251, 251);
  margin: 1rem;
  border: 2px solid green;
}
.experience-loading{
  display: none;
}

.distribute{
  display: flex;
  font-family: monospace;
}

.distribute .display-resume{
  background-color: grey;
  font-family: 'Open Sans', sans-serif;
    width: 100%;
    color: black;
    height: 100vh;
    overflow: scroll;
}

.display-resume-head{
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  background-color: rgb(0, 82, 177);
  color: white;
  padding: 5px;
  border-bottom: 2px solid black;
}
.resume-container{
  margin: 10px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}
.personal-info{
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
.person-name{
  font-size: 34px;
  text-align: center;
  font-weight: bold;
}
.person-other-info{
  display: flex;
  font-weight:400;
  justify-content: flex-end;
}
.person-other-info >*{
  margin-top: 5px;
  font-size: 19px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.person-other-info >*>*{
  padding: 3px;
}
.person-experiences{
  margin: 10px;
  margin-top: 20px;
}
.person-skills{
  color: black;
  display: flex;
  flex-wrap: wrap;
}
.person-experiences-head{
  font-size: 25px;
  font-weight: 200;
  width: fit-content;
  /* font-style: italic; */
  margin: 0px 0px 5px 0px;
  /* padding:0px 50px 5px 0px; */
  /* border-bottom: 1px solid black; */
  /* text-decoration: underline; */
}
.person-experiences-element{
  margin: 10px;
}
.person-experiences-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid black; */
}
.person-experiences-box .person-experiences-element-title{
  font-size: 23px;
  /* padding-bottom: 5px; */
}
.person-experiences-box .person-experiences-element-startend{
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
}
.skills-title{
  font-size: 1.1rem;
  font-weight: 500;
}
.alert-box{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: monospace;
  /* width: 300px; */
  text-align: center;
  padding: 10px;
  margin: auto;
  /* border-radius: 1rem; */
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 2px solid orange;
  transform: translateY(200px);
  transition: var(--alert-transition);

}
.show-alert{
  transform: translateY(0px);
  transition: var(--alert-transition);

}
.display-resume{
  display: flex;
  flex-direction: column;
}
.resume-save{
  width: 250px;
  align-self: center;
  font-family: monospace;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 10px;
  color: white;
  background-color: rgb(255, 57, 90);
  padding: 0.6rem;
  font-size: 1.4rem;
  border: 2px solid black;
}
@media (max-width: 900px) {
  .distribute{
    flex-direction: column;
  }
    .form-container{
      height: auto;
      overflow:visible;
      align-self: center;
      width: 85%;
      margin:auto;
    }
    .distribute .display-resume{
        overflow: auto;
        height: auto;
    }
}

