
.form-container{
  padding: 1.2rem;
  font-family: monospace;
}
.add-icon-container{
  border-radius: 1.2rem;
  padding: 10px;
  width:fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-icon-container .add-icon-title{
  margin-left: 0.6rem;
  font-size: 1.3rem;
}

.add-icon-container:hover{
  background-color: yellow;
}

.dialog-box-container{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  background: white;
  border-radius: 1rem;
  border: 0.2rem solid black;
}

